<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="Example">
      <parameters>
        <LevelOfAwesome>11</LevelOfAwesome>
        <HowAwesome>very</HowAwesome>
        <IsAwesome>true</IsAwesome>
      </parameters>
    </component>
  </components>
</configuration>